@using com.gyt.ms.Models
@using Zer.Framework.Dto
@using Zer.Framework.Extensions

@{
    var menuList = ViewBag.MenuItems as List<MenuItem>;
}


@{
    if (!menuList.IsNullOrEmpty())
    {
        <ul class="nav nav-list">
            
            @foreach (var item in menuList)
            {
                if (!item.ChildItems.IsNullOrEmpty())
                {
                    <li class="@(item.IsCurrentPage ? "active open" : "")">
                        <a href="javascript:();" class="dropdown-toggle">
                            <i class="@item.Icon"></i>
                            <span class=""> @item.TextInfo </span>

                            <b class="arrow icon-angle-down"></b>
                        </a>
                        <ul class="submenu">
                            @foreach (var childItem in item.ChildItems)
                            {
                                <li class="@(childItem.IsCurrentPage ? "active" : "")">
                                    <a href="@Url.Action(childItem.ActionName, childItem.ControllerName)">
                                        <i class="@childItem.Icon"></i>
                                        @childItem.TextInfo
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li class="@(item.IsCurrentPage ? "active" : "")">
                        <a href="@Url.Action(item.ActionName, item.ControllerName)">
                            <i class="icon-home"></i>
                            <span class="menu-text"> @item.TextInfo </span>
                        </a>
                    </li>
                }

            }
        </ul>
    }
}