@using System.Diagnostics
@using com.gyt.ms.Models

@{
    var menuList = ViewBag.MenuItems as List<MenuItem>;
}
<ul class="nav nav-list">
    <li>
        <a href="@Url.Action("Index","Home",new {id=14})">
            <i class="icon-home"></i>
            <span class="menu-text"> 首页 </span>
        </a>
    </li>
    @{
        if (menuList != null)
        {
            foreach (var menu in menuList)
            {
                <li class="@(menu.IsCurrentPage?"active open":"")">
                    <a href="javascript:();" class="dropdown-toggle">
                        <i class="@menu.Icon"></i>
                        <span class="menu-text"> @menu.TextInfo </span>

                        <b class="arrow icon-angle-down"></b>
                    </a>
                    @if (menu.ChildItems != null)
                    {
                        <ul class="submenu">
                            @foreach (var child in menu.ChildItems)
                            {
                                <li class="@(child.IsCurrentPage ? "active" : "")">
                                    <a href="@Url.Action(child.ActionName, child.ControllerName, new { activeId = child.Id })">
                                        <i class="@child.Icon"></i>
                                        @child.TextInfo
                                    </a>
                                </li>
                            }
                        </ul>
                    }  
                </li>
            }
        }
    }
</ul>