@using Zer.Entities

@{
    ViewBag.Title = "Gas";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var provinceList = ViewBag.ProvinceList as List<string>;
    var characterList = ViewBag.CharacterList as List<string>;
}
<h3 class="header smaller lighter blue">天然气车辆业务办理</h3>

    <div class="form-horizontal" role="form">
        <div id="container">
            <div id="gas">

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="input_CompanyName"> 申办企业名称: </label>

                    <div class="col-sm-8">
                        <input type="text" id="input_CompanyName" placeholder="请输入企业名称" class="col-xs-10 col-sm-5" name="BidCompanyName">
                        <span class="help-inline col-xs-12 col-sm-7 _sp_CompanyName red">
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="input_bidTruckNo"> 申办车牌号: </label>
                    <div class="col-sm-8">
                        <select class="select2-default _province col-sm-1">
                            @{
                                if (provinceList != null && provinceList.Count > 0)
                                {
                                    foreach (var item in provinceList)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            }
                        </select>

                        <select class="select2-default _character col-sm-1" style="margin-left: 8px">
                            @{
                                if (characterList != null && characterList.Count > 0)
                                {
                                    foreach (var item in characterList)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            }
                        </select>
                        <input type="text" placeholder="请输入申办车牌号" id="input_bidTruckNo" class="4" style="margin-left: 8px">
                        <input type="text" class="hide"  name="BidTruckNo" >
                        <span class="help-inline _sp_BidTruckNo red"></span>
                </div>
           
                    <span class="hide" id="sp_bidTruckNo"></span>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> 超载超限违规情况: </label>
                    <div class="col-sm-8">
                        <span class="label label-lg label-success" id="_sp_Illegal">无违规</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right"> 车辆年审情况: </label>
                    <div class="col-sm-8">
                        <div class="control-group" style="margin-top: -5px;margin-left: -20px">
                            <div class="radio" id="radio_Verify">
                                <label>
                                    <input type="radio" class="ace" value="true" checked="checked" name="lblAnnual">
                                    <span class="lbl"> 已年审 </span>
                                </label>
                                <label style="margin-left: 20px">
                                    <input type="radio" class="ace" value="false" name="lblAnnual">
                                    <span class="lbl"> 未年审 </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-9">
                <label class="btn btn-info" id="submit">
                    <i class="icon-indent-right bigger-110"></i>
                    提交办理
                </label>
            </div>
        </div>
    </div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title __dialog_title" id="myModalLabel">
                    港运通业务办理结果
                </h4>
            </div>
            <div class="modal-body __dialog_content">
                <h5>业务办理成功</h5><span>新的港运通编号为:<i class="label label-sm label-danger"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info __modal_confirmed">
                    确认
                </button>
                <button type="button" class="btn btn-success __modal_close" data-dismiss="modal">
                    继续办理
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



@section scripts{
    <script src="@Url.Content("~")assets/js/jquery-ui-1.10.3.full.min.js"></script>

    <link href="@Url.Content("~")assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet"/>
    <script type="text/javascript">
        
        $("body")
           .on('click', '#submit', function () {

                var validationResult = true;

                if (!Validate("#input_CompanyName", "._sp_CompanyName", "申报企业不能为空")) {
                    validationResult = false;
                }

                if ($("#input_bidTruckNo").val().length !== 5) {
                    $('._sp_BidTruckNo').html("申办车牌号长度不正确");
                    validationResult = false;
                }

                if ($('input[name="lblAnnual"]').val() === false) {
                    validationResult = false;
                }

                if (validationResult === false) {
                    return false;
                }
                
                var companyName = $('#input_CompanyName').val();
                var truckNo = $("._province").val() + $("._character").val() + $("#input_bidTruckNo").val();

                var dto = { BidCompanyName: companyName, BidTruckNo: truckNo, BusinessType: '@BusinessType.天然气车辆' };
               // 向后台post提交
                $.ajax({
                    url: '@Url.Action("Commit","BusinessHandle")',
                    type: 'post',
                    data: dto,
                    success: function(d) {
                        console.log(d);
                        // 办理成功
                        if (d.C === 901) {
                            $('.modal-header').removeClass('alert-danger');
                            $('.modal-header').addClass('alert-success');
                            $('.__dialog_content').html('<h5>业务办理成功</h5><span>新的港运通编号为:<i class="label label-sm label-danger">' + d.data.Id + '</i></span>');

                            // 设置【确认】按钮显示
                            $('.__modal_confirmed').show();
                            $('#myModal').modal("show");
                        }

                        // 办理失败
                        else {
                            $('.modal-header').removeClass('alert-success');
                            $('.modal-header').addClass('alert-danger');
                           
                            var msg = "<label class='label label-lg label-danger'>业务办理失败</label><ul>";
                            for (var i = 0; i < d.data.length; i++) {
                                msg += '<li><span><i class="">' +
                                    d.data[i] +
                                    '</i></span></li>';
                            }

                            msg += "</ul>";
                            $('.__dialog_content').html(msg);
                            // 设置【确认】按钮隐藏
                            $('.__modal_confirmed').hide();
                            $('#myModal').modal("show");
                        }

                    }
                })
           })
            // 继续办理按钮
            .on('click', '.__modal_close',function() {
                $('#input_CompanyName').val("");
                $('#input_bidTruckNo').val("");
            })
            // 确认按钮
            .on('click', '.__modal_confirmed',function() {
                window.location = '@Url.Action("index","GYTInfo")';
            })
            // 公司违法记录验证
            .on('input','#input_CompanyName',function(e) {
                    e.stopPropagation();
                    var val = $("#input_CompanyName").val();
                    companyPeccancyCheck(val, "#_sp_Illegal");
                })
            .on('blur', '#input_bidTruckNo', function () {
                var truckNo = $('#input_bidTruckNo').val();

                if (truckNo.length != 5) {
                    $('._sp_BidTruckNo').html("申办车牌号长度不正确");
                } else {
                    $('._sp_BidTruckNo').html("");
                }
            })
            .on("blur",
                "#input_CompanyName",
                function() {
                    Validate("#input_CompanyName", "._sp_CompanyName", "申办企业名称不能为空");
                });

        
        function Validate(input, span, msg) {
            var companyName = $(input).val();
            if (companyName === "") {
                $(span).html(msg);
                return false;
            } else {
                $(span).html("");
                return true;
            }
        }

        function companyPeccancyCheck(companyName, span) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("CompanyPeccancyCheck")",
                data: { companyName: companyName },
                dataType: "json",
                success: function(data) {
                    if (data.C === 901) {
                        $(span).html("无违规");
                        $(span).removeClass();
                        $(span).addClass("label label-lg label-success");
                    }
                    if (data.C === 801) {
                        $(span).html("有违规");
                        $(span).removeClass();
                        $(span).addClass("label label-lg label-warning");
                    }
                }
            });
        };

        function IsExists(truckNo) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("TruckNoExistsHandle")",
                data: { truckNo: truckNo },
                dataType: "json",
                async: false,
                success: function(data) {
                    console.log(data);
                    if (data.C === 901) {
                        $("#sp_bidTruckNo").html("true");
                    }
                    if (data.C === 801) {
                        $("#sp_bidTruckNo").html("false");
                    }
                }
            });
        }

    </script>
}