@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-select-type"> 业务类型: </label>

        <div class="col-sm-4">
            <select class="form-control" id="form-field-select-type" name="BusinessType">
                <option value="">请选择业务类型</option>
                <option value="0">天然气车辆</option>
                <option value="1">车辆过户</option>
                <option value="2">以旧换新</option>
            </select>
        </div>
    </div>

    <div id="container">
        <div id="gas">

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="input_ComnyName_gas"> 申办企业名称: </label>

                <div class="col-sm-9">
                    <input type="text" id="input_ComnyName_gas" placeholder="请输入企业名称" class="col-xs-10 col-sm-5">
                    <span class="help-inline col-xs-12 col-sm-7">
                        </span>
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right" for="input_bidTruckNo_gas"> 申办车牌号: </label>

                <div class="col-sm-9">
                    <input type="text" id="input_bidTruckNo_gas" placeholder="请输入申办车牌号" class="col-xs-10 col-sm-5">
                </div>
            </div>

            <div class="space-4"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 超载超限违规情况: </label>
                <div class="col-sm-9">
                    <span class="label label-lg label-success" id="_sp_gas_Illegal">无违规</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right"> 车辆年审情况: </label>
                <div class="col-sm-9">
                    <div class="control-group" style="margin-top: -5px;margin-left: -20px">
                        <div class="radio" id="radio_Verify">
                            <label>
                                <input type="radio" class="ace" value="true" checked="checked" name="lblAnnual">
                                <span class="lbl"> 已年审 </span>
                            </label>
                            <label style="margin-left: 20px">
                                <input type="radio" class="ace" value="false" name="lblAnnual">
                                <span class="lbl"> 未年审 </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    
    <div class="clearfix form-actions">
        <div class="col-md-offset-5 col-md-9">
            <button class="btn btn-info" id="submit" type="button">
                <i class="icon-indent-right bigger-110"></i>
                提交审查
            </button>
        </div>
    </div>
</div>

<div id="dialog-message" class="hide" >
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="col-sm-12">
                    <h3 class="header smaller lighter green">
                        <i class="icon-bullhorn"></i>
                        <span id="span_result"></span>
                    </h3>

                    <div class="alert alert-danger" id="isAnnual" style="display:none">
                        <i class="icon-remove"></i>
                        车辆年审未通过！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isOperationCancel" style="display:none">
                        <i class="icon-remove"></i>
                        运营证未注销！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isTransferRecrod" style="display:none">
                        <i class="icon-remove"></i>
                        运营证存在过户记录:！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isGytStatus" style="display:none">
                        <i class="icon-remove"></i>
                        过户前任意一手港运通未注销！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isGytCancel" style="display:none">
                        <i class="icon-remove"></i>
                        港运通未注销！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isConsistentInfo" style="display:none">
                        <i class="icon-remove"></i>
                        报废车回收与系统信息不一致！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="isPeccancy" style="display:none">
                        <i class="icon-remove"></i>
                        原企业名下车辆有超限超载违法记录！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="result" style="display:none">
                        <i class="icon-remove"></i>
                        该车牌号下已有办理记录，请核实！
                        <br>
                    </div>
                    
                    <div class="alert alert-danger" id="targetIsUse" style="display:none">
                        <i class="icon-remove"></i>
                        该车牌号以旧换新指标已被使用，请核实！
                        <br>
                    </div>

                    <div class="alert alert-success" id="success" style="display:none">
                        <i class="icon-ok"></i>
                        所有条件满足，办理申请已受理，请等待审核结果！
                        <br>
                    </div>
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- #dialog-message -->

@section scripts{


    <script src="@Url.Content("~")assets/js/jquery-ui-1.10.3.full.min.js"></script>

    <link href="@Url.Content("~")assets/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet"/>
    <script type="text/javascript">

    $("#form-field-select-type")
        .change(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Html")",
                data: { businessType: $(this).val(), activeId: 1 },
                dataType: "json",
                success: function (data) {
                    $("#container").html(data.msg);
                }

            });
        });

    $(document)
        .on('input',
            '#input_CompanyName',
            function (event) {

                var val = $("#input_CompanyName").val();
                companyPeccancyCheck(val, "#_sp_Illegal");

            });

    $(document)
        .on('input',
            '#input_oldTruckno',
            function (event) {

                var val = $("#input_oldTruckno").val();
                $.ajax({
                    type: "Get",
                    url: "@Url.Action("TruckRepetitionCheck")",
                    data: { truckNo: val },
                    dataType: "json",
                    success: function (data) {

                        if (data.C == '901') {
                            $("#_sp_quota").html("无重复使用");
                            $("#_sp_quota").removeClass();
                            $("#_sp_quota").addClass("label label-lg label-success");
                        }
                        if (data.C == '801') {
                            $("#_sp_quota").html("有重复使用");
                            $("#_sp_quota").removeClass();
                            $("#_sp_quota").addClass("label label-lg label-warning");
                        }
                    }
                });

            });

    function companyPeccancyCheck(companyName, span) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("CompanyPeccancyCheck")",
            data: { companyName: companyName },
            dataType: "json",
            success: function (data) {

                if (data.C == '901') {
                    $(span).html("无违规");
                    $(span).removeClass();
                    $(span).addClass("label label-lg label-success");

                }
                if (data.C == '801') {
                    $(span).html("有违规");
                    $(span).removeClass();
                    $(span).addClass("label label-lg label-warning");
                }
            }
        });
    };


    $("#submit")
        .on('click',
            function (e) {
                var title = "";
                var bidCompanyName = $("#input_CompanyName").val();
                var bidTruckNo = $("#input_bidTruckNo").val();
                var oldTruckno = $("#input_oldTruckno").val();
                var isAnnual = $('#radio_Verify input:radio:checked').val();
                var isOperationCancel = $('#radio_Cancel input:radio:checked').val();
                var isTransferRecrod = $('#radioTransfer input:radio:checked').val();
                var isGytStatus = $('#radioState input:radio:checked').val();
                var isConsistentInfo = $('#radioInfo input:radio:checked').val();
                var isGytCancel = $('#radio_GCancel input:radio:checked').val();

                if (bidCompanyName === "") {
                    alert("申报企业名不能为空！");
                    return;
                }
                if (bidTruckNo === "") {
                    alert("申报车牌号不能为空！");
                    return;
                }
                if (bidCompanyName === "" && $("#form-field-select-type").val() === 2) {
                    alert("旧车牌号不能为空！");
                    return;
                }

                var data = {
                    businessType: $("#form-field-select-type").val(),
                    bidCompanyName: bidCompanyName,
                    bidTruckNo: bidTruckNo,
                    oldTruckno: oldTruckno,
                    isAnnual: isAnnual,
                    isOperationCancel: isOperationCancel,
                    isTransferRecrod: isTransferRecrod,
                    isGytStatus: isGytStatus,
                    isGytCancel: isGytCancel,
                    isConsistentInfo: isConsistentInfo
                };

                $("#result").css("display", "none");
                $("#isAnnual").css("display", "none");
                $("#isConsistentInfo").css("display", "none");
                $("#isGytCancel").css("display", "none");
                $("#isGytStatus").css("display", "none");
                $("#isPeccancy").css("display", "none");
                $("#isTransferRecrod").css("display", "none");
                $("#result").css("display", "none");
                $("#targetIsUse").css("display", "none");
                $("#success").css("display", "none");

                $.ajax({
                    type: "Get",
                    url: "@Url.Action("SuccessInfo")",
                        data: data,
                        dataType: "json",
                        success: function(d) {

                            if (d.C === 801) {
                                title = "办理失败";
                                $("#result").removeAttr("style");
                            } else {
                                if (d.data.Result === true) {
                                    title = "审查通过！";
                                    $("#success").removeAttr("style");
                                } else {
                                    title = "审查未通过！";

                                    if (d.data.IsAnnual === false) {
                                        $("#isAnnual").removeAttr("style");
                                    }
                                    if (d.data.IsConsistentInfo === false) {
                                        $("#isConsistentInfo").removeAttr("style");
                                    }
                                    if (d.data.IsGytCancel === false) {
                                        $("#isGytCancel").removeAttr("style");
                                    }
                                    if (d.data.IsGytStatus === false) {
                                        $("#isGytStatus").removeAttr("style");
                                    }
                                    if (d.data.IsPeccancy === true) {
                                        $("#isPeccancy").removeAttr("style");
                                    }
                                    if (d.data.IsTransferRecrod === false) {
                                        $("#isTransferRecrod").removeAttr("style");
                                    }
                                    if (d.data.IsOperationCancel === false) {
                                        $("#isOperationCancel").removeAttr("style");
                                    }
                                    if (d.data.TargetIsUse === true) {
                                        $("#targetIsUse").removeAttr("style");
                                    }
                                }
                            }

                            e.preventDefault();

                            var dialog = $("#dialog-message")
                                .removeClass('hide')
                                .dialog({
                                    modal: true,
                                    width: '600',
                                    title: title,
                                    title_html: true,
                                    buttons: [
                                        {
                                            text: "确认",
                                            "class": "btn btn-xs",
                                            click: function() {
                                                //$(this).dialog("close");
                                                window.location = '@Url.Action("Index","GYTInfoRecrod")';
                                            }
                                        }
                                    ]
                                });
                        }


                    });
                });

    </script>
}
