@using Zer.Entities
@using Zer.Framework.Mvc.Logs

@{
    ViewBag.Title = "以旧换新车辆";

    var provinceList = ViewBag.ProvinceList as List<string>;
    var characterList = ViewBag.CharacterList as List<string>;
}

<h3 class="header smaller lighter blue">以旧换新车辆业务办理</h3>

<div class="form-horizontal" role="form">
<div id="container">

<div id="transfer">

<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right" for="input_CompanyName"> 申办企业名称: </label>

    <div class="col-sm-8">

        <input type="text" id="input_CompanyName" placeholder="请输入企业名称" class="col-xs-10 col-sm-5" name="BidCompanyName">
        <span class="help-inline col-xs-12 col-sm-7 _sp_CompanyName red">
        </span>
</div>

</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="input_bidTruckNo"> 申办车牌号: </label>
    <div class="col-sm-8">
        <select class="select2-default _province col-sm-1">
            @{
                if (provinceList != null && provinceList.Count > 0)
                {
                    foreach (var item in provinceList)
                    {
                        <option value="@item">@item</option>
                    }
                }
            }
        </select>

        <select class="select2-default _character col-sm-1" style="margin-left: 8px">
            <option></option>
            @{
                if (characterList != null && characterList.Count > 0)
                {
                    foreach (var item in characterList)
                    {
                        <option value="@item">@item</option>
                    }
                }
            }
        </select>
        <input type="text" placeholder="请输入申办车牌号" id="input_bidTruckNo" class="4" style="margin-left: 8px">
        <span class="help-inline red" id="sp_bidTruckNo">
        </span>
     </div>
   
</div>

<div class="space-4"></div>
<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right" for="input_OriginalCompanyName"> 原企业名称: </label>

    <div class="col-sm-8">

        <input type="text" id="input_OriginalCompanyName" placeholder="请输入原企业名称" class="col-xs-10 col-sm-5" name="OriginalCompanyName">

    </div>

</div>
<div class="space-4"></div>
<div class="form-group">
    <label class="col-sm-4 control-label no-padding-right" for="input_OriginalTruckNo"> 原车牌号: </label>
    <div class="col-sm-8">
        <select class="select2-default _province_original col-sm-1">
            @{
                if (provinceList != null && provinceList.Count > 0)
                {
                    foreach (var item in provinceList)
                    {
                        <option value="@item">@item</option>
                    }
                }
            }
        </select>

        <select class="select2-default _character_original col-sm-1" style="margin-left: 8px">
            @{
                if (characterList != null && characterList.Count > 0)
                {
                    foreach (var item in characterList)
                    {
                        <option value="@item">@item</option>
                    }
                }
            }
        </select>
        <input type="text" placeholder="请输入原车牌号" id="input_OriginalTruckNo" class="4" style="margin-left: 8px">
        <span class="help-inline red" id="sp_originalTruckNo">
        </span>
    </div>
    
   
</div>

<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right"> 申办企业超载超限违规情况: </label>
    <div class="col-sm-8">

        <span class="label label-lg label-success" id="_sp_Illegal">无违规</span>

    </div>

</div>
<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right"> 报废指标无重复使用: </label>
    <div class="col-sm-8">

        <span class="label label-lg label-success" id="_sp_quota">无重复使用</span>

    </div>

</div>
<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right"> 报废车营运证注销状态:</label>
    <div class="col-sm-8">

        <div class="control-group" style="margin-top: -5px; margin-left: -20px">

            <div class="radio" id="radio_Cancel">

                <label>

                    <input type="radio" class="ace" checked="checked" name="lblCancel" value="true">
                    <span class="lbl"> 已注销 </span>

                </label>
                <label style="margin-left: 20px">

                    <input type="radio" class="ace" name="lblCancel" value="false">
                    <span class="lbl"> 未注销 </span>

                </label>

            </div>

        </div>

    </div>

</div>
<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right"> 报废车营运证存在过户记录: </label>
    <div class="col-sm-8">

        <div class="control-group" style="margin-top: -5px; margin-left: -20px">

            <div class="radio" id="radioTransfer">
                
                <label>

                    <input type="radio" class="ace" checked="checked" name="lblTransfer" value="false">
                    <span class="lbl"> 存在 </span>

                </label>
                <label style="margin-left: 20px">
                    
                    <input type="radio" class="ace" name="lblTransfer" value="true">
                    <span class="lbl"> 不存在 </span>

                </label>
            </div>

        </div>

    </div>

</div>

<div class="form-group">

    <label class="col-sm-4 control-label no-padding-right"> 报废车回收证明与系统信息一致: </label>
    <div class="col-sm-8">

        <div class="control-group" style="margin-top: -5px; margin-left: -20px">

            <div class="radio" id="radioInfo">

                <label>

                    <input name="lblInfo" type="radio" class="ace" checked="checked" value="true">
                    <span class="lbl"> 一致 </span>

                </label>
                <label style="margin-left: 20px">

                    <input name="lblInfo" type="radio" class="ace" value="false">
                    <span class="lbl"> 不一致 </span>

                </label>

            </div>

        </div>

    </div>

</div>
    

    <div class="form-group">

        <label class="col-sm-4 control-label no-padding-right"> 港运通注销状态: </label>
        <div class="col-sm-8">

            <div class="control-group" style="margin-top: -5px; margin-left: -20px">

                <div class="radio" id="radio_gytStatus">

                    <label>

                        <input name="gytStatus" type="radio" class="ace" checked="checked" value="true">
                        <span class="lbl"> 已注销 </span>

                    </label>
                    <label style="margin-left: 20px">

                        <input name="gytStatus" type="radio" class="ace" value="false">
                        <span class="lbl"> 未注销 </span>

                    </label>

                </div>

            </div>

        </div>

    </div>

</div>

</div>

<div class="clearfix form-actions">
    <div class="col-md-offset-5 col-md-9">
        <label class="btn btn-info" id="submit">
            <i class="icon-indent-right bigger-110"></i>
            提交办理
        </label>
    </div>
</div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title __dialog_title" id="myModalLabel">
                    港运通业务办理结果
                </h4>
            </div>
            <div class="modal-body __dialog_content">
                <h5>业务办理成功</h5><span>新的港运通编号为:<i class="label label-sm label-danger"></i></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info __modal_confirmed">
                    确认
                </button>
                <button type="button" class="btn btn-success __modal_close" data-dismiss="modal">
                    继续办理
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts{

    <script type="text/javascript">

        function companyPeccancyCheck(companyName, span) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CompanyPeccancyCheck", "BusinessHandle")",
                dataType: "json",
                data: { companyName: companyName, @Html.AntiForgeryTokenForAjaxPost() },
                success: function(data) {
                    if (data.C === 901) {
                        $(span).html("无违规");
                        $(span).removeClass();
                        $(span).addClass("label label-lg label-success");
                    }
                    if (data.C === 801) {
                        $(span).html("有违规");
                        $(span).removeClass();
                        $(span).addClass("label label-lg label-warning");
                    }
                }
            });
        }

        function truckRepetitionCheck() {
            var val = $("._province_original").val() +
                $("._character_original").val() +
                $("#input_OriginalTruckNo").val();
            $.ajax({
                type: "post",
                url: "@Url.Action("TruckRepetitionCheck", "BusinessHandle")",
                dataType: "json",
                data: { truckNo: val, @Html.AntiForgeryTokenForAjaxPost() },
                success: function(data) {
                    console.log(data);
                    if (data.C === 901) {
                        $("#_sp_quota").html("无重复使用");
                        $("#_sp_quota").removeClass();
                        $("#_sp_quota").addClass("label label-lg label-success");
                    }
                    if (data.C === 801) {
                        $("#_sp_quota").html("有重复使用");
                        $("#_sp_quota").removeClass();
                        $("#_sp_quota").addClass("label label-lg label-warning");
                    }
                }
            });
        }

        $("body")
            .on("click",
                "#submit",
                function() {
                    var validationResult = true;

                    if ($("#input_CompanyName").val() === "") {
                        $('._sp_CompanyName').html("申办企业不能为空");
                        validationResult = false;
                    }

                    if ($("#input_bidTruckNo").val().length !== 5) {
                        $('#sp_bidTruckNo').html("申办车牌号长度不正确");
                        validationResult = false;
                    }

                    if ($("#input_OriginalTruckNo").val().length !== 5) {
                        $('#sp_originalTruckNo').html("原车牌号长度不正确");
                        validationResult = false;
                    }

                    if ($('#radio_Cancel input:radio:checked').val() === "false") {
                        validationResult = false;
                    }

                    if ($('#radioTransfer input:radio:checked').val() === "false") {
                        validationResult = false;
                    }

                    if ($('#radioInfo input:radio:checked').val() === "false") {
                        validationResult = false;
                    }

                    if ($('#radio_gytStatus input:radio:checked').val() === "false") {
                        validationResult = false;
                    }

                    if (validationResult === false) {
                        return false;
                    }

                    var companyName = $('#input_CompanyName').val();
                    var originalCompanyName = $("#input_OriginalCompanyName").val();
                    var truckNo = $("._province").val() + $("._character").val() + $("#input_bidTruckNo").val();
                    var originalTruckNo = $("._province_original").val() +
                        $("._character_original").val() +
                        $("#input_OriginalTruckNo").val();

                    var dto = {
                        BidCompanyName: companyName,
                        BidTruckNo: truckNo,
                        BusinessType: '@BusinessType.以旧换新车辆',
                        OriginalCompanyName: originalCompanyName,
                        OriginalTruckNo: originalTruckNo,
                        @Html.AntiForgeryTokenForAjaxPost()
                    };
                    // 向后台post提交
                    $.ajax({
                        url: '@Url.Action("Commit", "BusinessHandle")',
                        type: 'post',
                        data: dto,
                        success: function(d) {

                            // 办理成功
                            if (d.C === 901) {
                                $('.modal-header').removeClass('alert-danger');
                                $('.modal-header').addClass('alert-success');
                                $('.__dialog_content')
                                    .html('<h5>业务办理成功</h5><span>新的港运通编号为:<b class="label label-sm label-danger">' +
                                        d.data.Id +
                                        '</b></span>');

                                // 设置【确认】按钮显示
                                $('.__modal_confirmed').show();
                                $('#myModal').modal("show");
                            }
                            // 办理失败
                            else {
                                $('.modal-header').removeClass('alert-success');
                                $('.modal-header').addClass('alert-danger');

                                var msg = "<label class='label label-lg label-danger'>业务办理失败</label><ul>";
                                try {
                                    for (var i = 0; i < d.data.length; i++) {
                                        msg += '<li><span><b class="">' +
                                            d.data[i] +
                                            '</b></span></li>';
                                    }
                                } catch (e) {
                                    msg += '<li><span><b class="">' +
                                        d.msg +
                                        '</b></span></li>';
                                }

                                msg += "</ul>";
                                $('.__dialog_content').html(msg);
                                // 设置【确认】按钮隐藏
                                $('.__modal_confirmed').hide();
                                $('#myModal').modal("show");
                            }

                        }
                    });
                    return false;
                })
            .on('click',
                '.__modal_close',
                function() {
                    $('#input_CompanyName').val("");
                    $('#input_bidTruckNo').val("");
                })
            // 确认按钮
            .on('click',
                '.__modal_confirmed',
                function() {
                    window.location = '@Url.Action("index", "GYTInfo")';
                })
            // 公司违法记录验证
            .on('input',
                '#input_CompanyName',
                function(e) {
                    e.stopPropagation();
                    var val = $("#input_CompanyName").val();
                    companyPeccancyCheck(val, "#_sp_Illegal");
                })
            .on('blur',
                '#input_bidTruckNo',
                function() {
                    var truckNo = $('#input_bidTruckNo').val();

                    if (truckNo.length !== 5) {
                        $('#sp_bidTruckNo').html("申办车牌号长度不正确");
                    } else {
                        $('#sp_bidTruckNo').html("");
                    }
                })
            .on('blur',
                '#input_OriginalTruckNo',
                function() {
                    var truckNo = $('#input_OriginalTruckNo').val();

                    if (truckNo.length !== 5) {
                        $('#sp_originalTruckNo').html("原车牌号长度不正确");
                    } else {
                        $('#sp_originalTruckNo').html("");
                    }
                })
            .on("blur",
                "#input_CompanyName",
                function() {
                    if ($("#input_CompanyName").val() === "") {
                        $('._sp_CompanyName').html("申办企业不能为空");
                    } else {
                        $('._sp_CompanyName').html("");
                    }
                })
            .on("input",
                "#input_OriginalTruckNo",
                function(e) {
                 e.stopPropagation();
                 truckRepetitionCheck();   
                })
            .on("input",
                "#input_CompanyName",
                function(e) {
                    e.stopPropagation();
                    var val = $("#input_CompanyName").val();
                    companyPeccancyCheck(val, "#_sp_Illegal");
                })
            .on("change", "._province_original", function (e) {
                e.stopPropagation();
                truckRepetitionCheck();
            }).on("change", "._character_original", function (e) {
                e.stopPropagation();
                truckRepetitionCheck();
            });
    </script>
}