@using Castle.Core.Internal
@using Zer.GytDto
@using Zer.GytDto.SearchFilters
@{
    var lngList = Model as List<LngAllowanceInfoDto>;
    var truckList = ViewBag.TruckList as List<TruckInfoDto>;
    var filter = ViewBag.Filter as LngAllowanceSearchDto;

    if (filter == null)
    {
        filter = new LngAllowanceSearchDto();
    }
}

<form class="form-inline" action="@(Url.Action("Index","LngAllowance",new {activeid=9}))" method="post" style="height: 50px; line-height: 45px">
   

    @*<select name="TruckNo" class=" chosen-select" style="display: none; width: 200px">
        @if (!truckList.IsNullOrEmpty())
        {
            <option value="">全部</option>
            foreach (var truckInfoDto in truckList)
            {
                <option value="@(truckInfoDto.FrontTruckNo)" @((truckInfoDto.FrontTruckNo == filter.TruckNo) ? "selected" : "")>@(truckInfoDto.FrontTruckNo)</option>
            }
        }
    </select>*@
    
    <label for="input_engineNumber" style="margin-left: 10px"> 车牌号码：</label>
    <input type="text" class="input-mini" value="@(filter.TruckNo)" style="width: 150px" name="TruckNo" id="input_TruckNo" />
    
    <button type="submit" class="btn btn-small btn-info" style="margin-left: 20px">查询</button>
</form>

<div class="table-header">

    <div class="visible-sm visible-md hidden-sm hidden-xs action-buttons">
        <a class="white" href="@(Url.Action("add", "LngAllowance", new {activeid = 9}))">
            <i class="icon-plus-sign bigger-110">
                <span class="">新增</span>
            </i>
        </a>

        <a class="white" id="btn_improt">
            <i class="icon-cloud-upload bigger-110">
                <span class="">批量导入</span>
            </i>
        </a>

        <a class="white" target="_blank" href="@(Url.Action("Export","LngAllowance",new {exportcode="All"}))">
            <i class="icon-cloud-download bigger-110">
                <span class="">导出</span>
            </i>
        </a>
    </div>

</div>
<div class="table-responsive">
    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>编号</th>
                <th>企业名称</th>
                <th>批次</th>
                <th>车牌号</th>
                <th>发动机号</th>
                <th>气瓶1编号</th>
                <th>气瓶2编号</th>
            </tr>
        </thead>
        <tbody>
            @if (!lngList.IsNullOrEmpty())
            {
                foreach (var item in lngList)
                {
                    <tr>
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </td>
                        <td>
                            <a href="javascript:;">@item.Id</a>
                        </td>
                        <td>
                            @item.CompanyName
                        </td>
                        <td>
                            @item.LotId
                        </td>
                        <td>
                            @item.TruckNo
                        </td>
                        <td>@item.EngineId</td>
                        <td>
                            @item.CylinderDefaultId.Replace('_', '-')
                        </td>
                        <td>
                            @(item.CylinderSeconedId.IsNullOrEmpty() ? "无" : item.CylinderSeconedId.Replace('_', '-'))
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    
    @if (filter.PageCount > 1)
    {
        <div class="row">
            <div class="col-sm-12">
                <div class="dataTables_paginate padding-10">
                    <ul class="pagination">

                        <li class="prev @(filter.PageIndex == 1?"disabled":"")">
                            <a href="@Url.Action("index", "LngAllowance", new
                                     {
                                         filter.TruckNo, filter.EngineId, PageIndex = 1,filter.PageSize
                                     })">
                                <i class="icon-double-angle-left"></i>
                            </a>
                        </li>
                        @for (int i = 1; i <= filter.PageCount; i++)
                        {
                        <li class="@(filter.PageIndex == i?"active":"")">
                            <a href="@Url.Action("index", "LngAllowance", new
                                     {
                                         filter.TruckNo,
                                         filter.EngineId,
                                         PageIndex = i,
                                         filter.PageSize
                                     })">@i</a>
                        </li>
                        }
                        <li class="next  @(filter.PageIndex == filter.PageCount?"disabled":"")">
                            <a href="@Url.Action("index", "LngAllowance", new
                                     {
                                         filter.TruckNo, filter.EngineId, PageIndex = filter.PageCount,filter.PageSize
                                     })">
                                <i class="icon-double-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
    
    @using (Html.BeginForm("ImportFile", "LngAllowance", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" class="hide" id="input_file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" class="hide" />
    }
    
</div>

@section scripts{
    <script src="@Url.Content("~")assets/js/chosen.jquery.min.js"></script>

    <script type="text/javascript">
        
        jQuery(function ($) {


            $(".chosen-select").chosen();

            $('#modal-form input[type=file]')
                .ace_file_input({
                    style: 'well',
                    btn_choose: 'Drop files here or click to choose',
                    btn_change: null,
                    no_icon: 'icon-cloud-upload',
                    droppable: true,
                    thumbnail: 'large'
                });

            $('#modal-form')
                .on('shown.bs.modal',
                    function () {
                        $(this)
                            .find('.chosen-container')
                            .each(function () {
                                $(this).find('a:first-child').css('width', '210px');
                                $(this).find('.chosen-drop').css('width', '210px');
                                $(this).find('.chosen-search input').css('width', '200px');
                            });
                    });

        });

        $(function () {
            $("#btn_improt")
                .click(function () {
                    $("#input_file").click();
                });

            $("#input_file").change(function () {
                $("#Submit").click();
                $("#input_file").text("");
            });
        })
    </script>
}