@using System.Diagnostics
@using Zer.GytDto
@using Zer.GytDto.SearchFilters

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var truckList = ViewBag.TruckList as List<TruckInfoDto>;
    var companyList = ViewBag.CompanyList as List<CompanyInfoDto>;
    var infoList = ViewBag.Result as List<GYTInfoDto>;

    var searchFilter = ViewBag.SearchDto as GYTInfoSearchDto ?? (GYTInfoSearchDto)new GYTInfoSearchDto();
}


<div class="row">
    <div class="col-xs-12">
        <form action="@(Url.Action("Search", "GYTSuccess", new { activeId = ViewBag.ActiveId }))" method="post" style="height: 50px; line-height: 45px">

            <div class="div-inline">

                <div class="div-inline">
                    @*<div class="input-group col-xs-5">
                        <span>查询时间：</span>
                        <span class="input-group-addon">
                            <i class="icon-calendar"></i>
                        </span>

                        <input class="form-control" type="text" name="date-range-picker" id="drp_QueryDate">
                    </div>*@
                </div>
                <span style="margin-left: 10px">公司名称：</span>
                <select class=" chosen-select" style="display: none; width: 200px" id="select_Company" name="CompanyId">
                    <option value="">&nbsp;</option>

                    @{
                        Debug.Assert(companyList != null, "companyList != null");
                    }
                    @foreach (var companyInfoDto in companyList)
                    {
                        <option value="@(companyInfoDto.Id)" @((companyInfoDto.Id == searchFilter.CompanyId) ? "selected" : "")>@(companyInfoDto.CompanyName)</option>
                    }
                </select>
                车牌号码：
                <select class="chosen-select " style="display: none; width: 105px" id="select_Truck" name="TruckNo">
                    <option value="">&nbsp;</option>

                    @{
                        Debug.Assert(truckList != null, "truckList != null");
                    }
                    @foreach (var truckInfoDto in truckList)
                    {
                        <option value="@(truckInfoDto.FrontTruckNo)" @((truckInfoDto.FrontTruckNo == searchFilter.TruckNo) ? "selected" : "")>@(truckInfoDto.FrontTruckNo)</option>
                    }
                </select>

                <button type="submit" class="btn btn-small btn-info" style="margin-left: 20px">查询</button>

            </div>

        </form>

        <div class="table-header">

            <div class="visible-sm visible-md hidden-sm hidden-xs action-buttons">

                <a class="white" href="javascript:void(0)" id="btn_improt">
                    <i class="icon-cloud-upload bigger-110">
                        <span class="">批量导入</span>
                    </i>
                </a>

                <a class="white" id="btn_export" href="@(Url.Action("ExportResult","GYTInfo",new {exportcode="All"}))">
                    <i class="icon-cloud-download bigger-110">
                        <span class="">导出</span>
                    </i>
                </a>
            </div>

        </div>

        <div class="table-responsive">
            <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="center">
                            <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>办理编号</th>
                        <th>业务类型</th>
                        <th>原企业</th>
                        <th>原车牌号</th>
                        <th>申办企业</th>
                        <th>申办车牌号</th>
                        <th>办理日期</th>
                        <th>经办人</th>
                        <th>业务状态</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (infoList != null && infoList.Count > 0)
                        {
                            foreach (var gytInfoDto in infoList)
                            {
                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a href="javascript:;">@gytInfoDto.Id</a>
                                    </td>
                                    <td>@gytInfoDto.BusinessType</td>
                                    <td class="hidden-480">@gytInfoDto.OriginalCompanyName</td>
                                    <td>@gytInfoDto.OriginalTruckNo</td>

                                    <td>@gytInfoDto.BidCompanyName</td>
                                    <td>
                                        @gytInfoDto.BidTruckNo
                                    </td>
                                    <td>
                                        @gytInfoDto.BidDate
                                    </td>
                                    <td>@gytInfoDto.BidName</td>
                                    <td>@gytInfoDto.Status</td>
                                    <td><a href="javascript:;">详情</a></td>
                                </tr>
                            }
                        }

                    }

                </tbody>
            </table>

            @using (Html.BeginForm("Improt", "GYTInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" class="hide" id="input_file" />
                <input type="submit" name="Submit" id="Submit" value="Upload" class="hide" />
            }

            <div class="row">
                <div class="col-sm-12">
                    <div class="dataTables_paginate padding-10">
                        <ul class="pagination">
                            <li class="prev disabled">
                                <a href="#">
                                    <i class="icon-double-angle-left"></i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li class="next">
                                <a href="#">
                                    <i class="icon-double-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="@Url.Content("~")assets/js/chosen.jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(function($) {


            $(".chosen-select").chosen();


            /////////
            $('#modal-form input[type=file]')
                .ace_file_input({
                    style: 'well',
                    btn_choose: 'Drop files here or click to choose',
                    btn_change: null,
                    no_icon: 'icon-cloud-upload',
                    droppable: true,
                    thumbnail: 'large'
                });

            //chosen plugin inside a modal will have a zero width because the select element is originally hidden
            //and its width cannot be determined.
            //so we set the width after modal is show
            $('#modal-form')
                .on('shown.bs.modal',
                    function() {
                        $(this)
                            .find('.chosen-container')
                            .each(function() {
                                $(this).find('a:first-child').css('width', '210px');
                                $(this).find('.chosen-drop').css('width', '210px');
                                $(this).find('.chosen-search input').css('width', '200px');
                            });
                    });
            /**
             //or you can activate the chosen plugin after modal is shown
             //this way select element becomes visible with dimensions and chosen works as expected
             $('#modal-form').on('shown', function () {
                        $(this).find('.modal-chosen').chosen();
                    })
             */

        });

        $(function() {
            $("#btn_improt")
            .click(function () {
                $("#input_file").click();
            });

            $("#input_file")
                .change(function () {
                    $("#Submit").click();
                    $("#input_file").text("");
                });
        });
    </script>

}




