@using Zer.Entities
@using Zer.Framework.Extensions
@using Zer.GytDto
@using Zer.GytDto.OutputDto
@using Zer.GytDto.Users

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var gytInfoWaitCheckList = ViewBag.GytInfoWaitCheckList as List<GYTInfoDto>;

    var userInfo = ViewBag.UserInfo as UserInfoDto;

    var companyList = ViewBag.CompanyList as List<PeccancyGroupByCompanyDto>;
}

<div class="row">
    <div class="col-xs-12 col-sm-6 ui-sortable">
        <div class="widget-box">
            <div class="widget-header header-color-red">
                <h5 class="bigger lighter">
                    <i class="icon-table"></i>
                    待办申请
                </h5>
            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                <i class="icon-suitcase"></i>
                                申办公司
                            </th>

                            <th>
                                申办车牌
                            </th>
                            <th class="hidden-480">审查状态</th>
                            
                            @if (userInfo.Role == RoleLevel.Administrator)
                            {
                                <th class="hidden-480"></th>
                            }
                          
                        </tr>
                        </thead>

                        <tbody>
                        
                        @if (!gytInfoWaitCheckList.IsNullOrEmpty())
                        {
                            foreach (var item in gytInfoWaitCheckList)
                            {
  
                              
                                <tr>
                                    <td>
                                        <i class="icon-suitcase"></i>
                                        @item.BidCompanyName
                                    </td>

                                    <td>
                                        <span class="label label-sm label-info">
                                            @item.BidTruckNo
                                        </span>
                                    </td>
                                    <td class="hidden-480">
                                        <span class="label label-success arrowed-in-right">
                                            <i class="icon-ok">@item.Status</i>
                                        </span>
                                    </td>
                                    
                                    @if (userInfo.Role == RoleLevel.Administrator)
                                    {
                                        <td class="hidden-480">
                                            <a class="btn btn-xs btn-danger _verify"
                                               href="javascript:;"
                                               data-bussinesstype="@item.BusinessType"
                                               data-companyname="@item.BidCompanyName"
                                               data-bidtruckno="@item.BidTruckNo"
                                               data-id="@item.Id">
                                                办理
                                            </a>
                                        </td>
                                    }

                                
                                </tr>
                            }
                                
                        }

                      

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-sm-6 ui-sortable">
        <div class="widget-box">
            <div class="widget-header header-color-dark">
                <h5 class="bigger lighter">
                    <i class="icon-legal"></i>
                    公司违章排行
                </h5>

            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                        <tr>
                            <th>
                                公司名称
                            </th>
                            <th>经营范围</th>
                            <th class="hidden-480">违章次数</th>
                        </tr>
                        </thead>

                        <tbody>
                    
                        @if (!companyList.IsNullOrEmpty())
                        {
                            foreach (var item in companyList)
                            {
                                <tr>
                                    

                                    <td>
                                        <a href="javascript:;" class="__btn_company_details" data-companyName='@item.CompanyName'>@item.CompanyName</a>
                                    </td>
                                    <td>
                                        @(item.TraderRange.IsNullOrEmpty() ? "" : (item.TraderRange.Length > 10 ? item.TraderRange.Substring(0, 9) + "..." : item.TraderRange))
                                    </td>
                                    <td class="hidden-480">
                                        @item.PeccancyRecordCount
                                    </td>
                                   
                                </tr>
                            }
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
    
<form action="@Url.Action("index", "PeccancyRecrod")" method="post">
    <input type="text" name="CompanyName" id="search_peccancyrecord_companyName" class="hidden" />
    <input type="submit" id="search_peccancyrecord" class="hidden" />
</form>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    港运通业务办理确认提示
                </h4>
            </div>
            <div class="modal-body __dialog_content">
                您确认要将这条记录的状态更改为“审批通过”吗？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger __modal_confirmed">
                    同意办理
                </button>
                <button type="button" class="btn btn-default __modal_close" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $('body')
                // 模态对话框显示
                .on('click', '._verify', function () {
                    var link = $(this);
                    infoId = $(link).attr('data-id');

                    var bussinesstype = $(link).attr('data-bussinesstype');
                    var companyname = $(link).attr('data-companyname');
                    var bidtruckno = $(link).attr('data-bidtruckno');

                    $('.__dialog_content').html(
                        "您确认将批准<label class='label label-danger'>" +
                        companyname + "</label>有关<label class='label label-danger'>" +
                        bidtruckno + "</label>车辆的<label class='label label-danger'>" +
                        bussinesstype + "</label>业务申请吗？");

                    $('#myModal').modal("show");
                })

                // 点击关闭
                .on('click', '.__modal_close', function () {
                    infoId = 0;
                    $('#myModal').modal("hide");
                })

                // 点击确认
                .on('click', '.__modal_confirmed', function () {
                    $.ajax({
                        type: "Post",
                        url: "@Url.Action("Verify", "gytinfo")",
                        data: { infoId: infoId },
                        dataType: "json",
                        success: function (data) {
                            if (data.C === 901) {
                                $('#myModal').modal("hide");
                                location.reload();
                            }
                            if (data.C === 801) {
                                $('#myModal').modal("hide");
                                alert(data.msg);
                            }
                        }
                    })
                })

                .on('click',
                    '.__btn_company_details',
                    function() {
                        var companyName = $(this).attr('data-companyName');
                        $('#search_peccancyrecord_companyName').val(companyName);
                        $('#search_peccancyrecord').click();
                    });
        });

</script>

}


