@using System.Diagnostics
@using Castle.Core.Internal
@using Zer.GytDto
@{
    var successList = ViewBag.SuccessList as List<PeccancyRecrodDto>;
    var failedList = ViewBag.FailedList as List<PeccancyRecrodDto>;
    var existedList = ViewBag.ExistedList as List<PeccancyRecrodDto>;
    var formatFailed = ViewBag.errorFailedList as List<string>;
}


<!--格式化错误的列表-->
@if (!formatFailed.IsNullOrEmpty())
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-span ui-sortable">
            <div class="widget-box">
                <div class="widget-header header-color-pink header-color-orange">
                    <h5>数据格式化出错</h5>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="1 bigger-125 icon-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-body-inner" style="display: block;">
                        <div class="widget-main">
                            <ul>
                                @foreach (var msg in formatFailed)
                                {
                                    <li><label>@msg</label></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!--导入失败的列表-->
@if (!failedList.IsNullOrEmpty())
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-span ui-sortable">
            <div class="widget-box">
                <div class="widget-header header-color-pink header-color-red">
                    <h5>导入失败的数据</h5>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="1 bigger-125 icon-chevron-up"></i>
                        </a>
                    </div>

                    <div class="widget-toolbar no-border">
                        <a class="btn btn-xs bigger" target="_blank" href="@(Url.Action("ExportResult", "PeccancyRecrod", new {exportCode = ViewBag.FailedCode.ToString()}))">
                            >
                            <i class="icon-share"></i>
                            导出
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-body-inner" style="display: block;">
                        <div class="widget-main">

                            <div class="table-responsive">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>超限超载编号</th>
                                        <th>公司名称</th>
                                        <th>前车牌号</th>
                                        <th>后车牌号</th>
                                        <th>所属行业</th>
                                        <th>驾驶员姓名</th>
                                        <th>违法日期</th>
                                        <th>违法事项</th>
                                        <th>总重（吨）</th>
                                        <th>文件来源</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @{
                                        Debug.Assert(failedList != null, "infoList != null");
                                    }
                                    @foreach (var overloadRecrodDto in failedList)
                                    {
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a href="javascript:;">@overloadRecrodDto.Id</a>
                                            </td>
                                            <td>@overloadRecrodDto.CompanyName</td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.FrontTruckNo</span>
                                            </td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.BehindTruckNo</span>
                                            </td>
                                            <td>@overloadRecrodDto.TraderRange</td>
                                            <td>@overloadRecrodDto.DriverName</td>
                                            <td>
                                                @overloadRecrodDto.PeccancyDate
                                            </td>
                                            <td>@overloadRecrodDto.PeccancyMatter</td>
                                            <td>@overloadRecrodDto.GrossWeight</td>
                                            
                                            <td>@overloadRecrodDto.Source</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--重复数据的列表-->
@if (!existedList.IsNullOrEmpty())
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-span ui-sortable">
            <div class="widget-box">
                <div class="widget-header header-color-dark">
                    <h5>未导入的重复数据</h5>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="1 bigger-125 icon-chevron-up"></i>
                        </a>
                    </div>

                    <div class="widget-toolbar no-border">
                        <a class="btn btn-xs btn-inverse bigger" target="_blank" href="@(Url.Action("ExportResult", "PeccancyRecrod", new { exportCode = ViewBag.ExistedCode.ToString() }))">
                            <i class="icon-share"></i>
                            导出
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-body-inner" style="display: block;">
                        <div class="widget-main">

                            <div class="table-responsive">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>超限超载编号</th>
                                        <th>公司名称</th>
                                        <th>前车牌号</th>
                                        <th>后车牌号</th>
                                        <th>所属行业</th>
                                        <th>驾驶员姓名</th>
                                        <th>违法日期</th>
                                        <th>违法事项</th>
                                        <th>总重（吨）</th>
                                        <th>文件来源</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @{
                                        Debug.Assert(existedList != null, "existedList != null");
                                    }
                                    @foreach (var overloadRecrodDto in existedList)
                                    {
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a href="javascript:;">@overloadRecrodDto.Id</a>
                                            </td>
                                            <td>@overloadRecrodDto.CompanyName</td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.FrontTruckNo</span>
                                            </td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.BehindTruckNo</span>
                                            </td>
                                            <td>@overloadRecrodDto.TraderRange</td>
                                            <td>@overloadRecrodDto.DriverName</td>
                                            <td>
                                                @overloadRecrodDto.PeccancyDate
                                            </td>
                                            <td>@overloadRecrodDto.PeccancyMatter</td>
                                            <td>@overloadRecrodDto.GrossWeight</td>
                                            
                                            <td>@overloadRecrodDto.Source</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--导入成功的列表-->
@if (successList.IsNullOrEmpty())
{
    <div class="alert alert-block alert-danger">
        <button type="button" class="close" data-dismiss="alert">
            <i class="icon-remove"></i>
        </button>

        <i class="icon-exclamation-sign white"></i>

        <strong class="green">
            所有数据导入失败
        </strong>
    </div>
}
else
{
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-span ui-sortable">
            <div class="widget-box">
                <div class="widget-header header-color-green">
                    <h5>导入成功的数据</h5>

                    <div class="widget-toolbar">
                        <a href="#" data-action="collapse">
                            <i class="1 bigger-125 icon-chevron-up"></i>
                        </a>
                    </div>

                    <div class="widget-toolbar no-border">
                        <a class="btn btn-xs btn-success bigger" target="_blank" href="@(Url.Action("ExportResult", "PeccancyRecrod", new { exportCode = ViewBag.SuccessCode.ToString() }))">
                            <i class="icon-share"></i>
                            导出
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-body-inner" style="display: block;">
                        <div class="widget-main">

                            <div class="table-responsive">
                                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="center">
                                            <label>
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"></span>
                                            </label>
                                        </th>
                                        <th>超限超载编号</th>
                                        <th>公司名称</th>
                                        <th>前车牌号</th>
                                        <th>后车牌号</th>
                                        <th>所属行业</th>
                                        <th>驾驶员姓名</th>
                                        <th>违法日期</th>
                                        <th>违法事项</th>
                                        <th>总重（吨）</th>
                                        <th>文件来源</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    @{
                                        Debug.Assert(successList != null, "successList != null");
                                    }
                                    @foreach (var overloadRecrodDto in successList)
                                    {
                                        <tr>
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="ace"/>
                                                    <span class="lbl"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a href="javascript:;">@overloadRecrodDto.Id</a>
                                            </td>
                                            <td>@overloadRecrodDto.CompanyName</td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.FrontTruckNo</span>
                                            </td>
                                            <td>
                                                <span class="label label-sm label-warning">@overloadRecrodDto.BehindTruckNo</span>
                                            </td>
                                            <td>@overloadRecrodDto.TraderRange</td>
                                            <td>@overloadRecrodDto.DriverName</td>
                                            <td>
                                                @overloadRecrodDto.PeccancyDate
                                            </td>
                                            <td>@overloadRecrodDto.PeccancyMatter</td>
                                            <td>@overloadRecrodDto.GrossWeight</td>
                                            
                                            <td>@overloadRecrodDto.Source</td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

