@using System.Diagnostics
@using Zer.GytDto
@using Zer.GytDto.SearchFilters

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var truckList = ViewBag.TruckList as List<TruckInfoDto>;
    var companyList =ViewBag.CompanyList as List<CompanyInfoDto>;
    var infoList = ViewBag.Result as List<PeccancyRecrodDto>;
    var searchFilter = ViewBag.SearchDto as PeccancySearchDto;

    if (searchFilter == null)
    {
        searchFilter = new PeccancySearchDto();
    }
    
}



<form  action="@(Url.Action("Search", "PeccancyRecrod", new { activeId = ViewBag.ActiveId }))" method="post" style="height: 50px; line-height: 45px">
    
    <div class="div-inline">
      
        <div class="div-inline">
            @*<div class="input-group col-xs-5">
                <span>查询时间：</span>
                <span class="input-group-addon">
                    <i class="icon-calendar"></i>
                </span>

                <input class="form-control" type="text" name="date-range-picker" id="drp_QueryDate">
            </div>*@
            </div>
            <span style="margin-left: 10px">公司名称：</span>
            <select class=" chosen-select" style="display: none; width: 200px" id="select_Company" name="CompanyId">
                <option value="">&nbsp;</option>

                @{
                    Debug.Assert(companyList != null, "companyList != null");
                }
                @foreach (var companyInfoDto in companyList)
                {
                    <option value="@(companyInfoDto.Id)" @((companyInfoDto.Id == searchFilter.CompanyId) ? "selected" : "")>@(companyInfoDto.CompanyName)</option>
                }
            </select>
            车牌号码：
            <select class="chosen-select " style="display: none; width: 105px" id="select_Truck" name="TruckNo">
                <option value="">&nbsp;</option>

                @{
                    Debug.Assert(truckList != null, "truckList != null");
                }
                @foreach (var truckInfoDto in truckList)
                {
                    <option value="@(truckInfoDto.FrontTruckNo)" @((truckInfoDto.FrontTruckNo == searchFilter.TruckNo) ? "selected" : "")>@(truckInfoDto.FrontTruckNo)</option>
                }
            </select>

        <button type="submit" class="btn btn-small btn-info" style="margin-left: 20px">查询</button>

        </div>


   
</form>

<div class="table-header" style="margin-top: 20px">

    <div class="visible-sm visible-md hidden-sm hidden-xs action-buttons">
        <a class="white"  id="btn_improt">
            <i class="icon-cloud-upload bigger-110">
                <span class="">批量导入</span>
            </i>
        </a>

        <a class="white" id="btn_export" href="@(Url.Action("ExportResult","PeccancyRecrod",new {exportcode="All"}))">
            <i class="icon-cloud-download bigger-110">
                <span class="">导出</span>
            </i>
        </a>
    </div>

</div>

<div class="table-responsive">
    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="center">
                <label>
                    <input type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            </th>
            <th>编号</th>
            <th>公司名称</th>
            <th>前车牌号</th>
            <th>后车牌号</th>
            <th>所属行业</th>
            <th>驾驶员姓名</th>
            <th>违法日期</th>
            <th>违法事项</th>
            <th>总重（吨）</th>
            <th>轴数</th>
            <th>文件来源</th>
            <th></th>
            @*<th></th>*@
        </tr>
        </thead>
        <tbody>

        @{
            Debug.Assert(infoList != null, "infoList != null");
        }
        @foreach (var overloadRecrodDto in infoList)
        {
            <tr>
                <td class="center">
                    <label>
                        <input type="checkbox" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>
                    <a href="javascript:;">@overloadRecrodDto.Id</a>
                </td>
                <td>@overloadRecrodDto.CompanyName</td>
                <td>
                   @overloadRecrodDto.FrontTruckNo
                </td>
                <td>@overloadRecrodDto.BehindTruckNo</td>
                <td>@overloadRecrodDto.TraderRange</td>
                <td>@overloadRecrodDto.DriverName</td>
                <td>
                    @overloadRecrodDto.PeccancyDate
                </td>
                <td>@overloadRecrodDto.PeccancyMatter</td>
                <td>@overloadRecrodDto.GrossWeight</td>
                <td>@overloadRecrodDto.AxisNumber</td>
                <td>@overloadRecrodDto.Source</td>
                <td>
                    <a class="btn btn-info btn-sm btn-small" onclick="change(@overloadRecrodDto.Id)">
                        <i class=" icon-check">整改</i>
                    </a>
                </td>
                @*<td><a href="javascript:;">详情</a></td>*@
            </tr>
        }
        </tbody>
    </table>
    
    @using (Html.BeginForm("ImportFile", "PeccancyRecrod", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" class="hide" id="input_file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" class="hide" />
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="dataTables_paginate padding-10">
                <ul class="pagination">
                    <li class="prev disabled">
                        <a href="#">
                            <i class="icon-double-angle-left"></i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li class="next">
                        <a href="#">
                            <i class="icon-double-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Content("~")assets/js/jquery.dataTables.min.js"></script>
    <script src="@Url.Content("~")assets/js/jquery.dataTables.bootstrap.js"></script>
    <script src="@Url.Content("~")assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="@Url.Content("~")assets/js/chosen.jquery.min.js"></script>
    <script src="@Url.Content("~")assets/js/date-time/daterangepicker.min.js"></script>
    <script src="@Url.Content("~")assets/js/date-time/moment.min.js"></script>


    <script type="text/javascript">
        jQuery(function($) {
            $('input[name=date-range-picker]')
                .daterangepicker()
                .prev()
                .on(ace.click_event,
                    function() {
                        $(this).next().focus();
                    });


            $(".chosen-select").chosen();


            $('#modal-form input[type=file]')
                .ace_file_input({
                    style: 'well',
                    btn_choose: 'Drop files here or click to choose',
                    btn_change: null,
                    no_icon: 'icon-cloud-upload',
                    droppable: true,
                    thumbnail: 'large'
                });


            $('#modal-form')
                .on('shown.bs.modal',
                    function() {
                        $(this)
                            .find('.chosen-container')
                            .each(function() {
                                $(this).find('a:first-child').css('width', '210px');
                                $(this).find('.chosen-drop').css('width', '210px');
                                $(this).find('.chosen-search input').css('width', '200px');
                            });
                    });

        });

        $(function() {
            //$("#btn_export")
            //    .click(function() {

            //        var ids = [];
            //        var index = 0;

            //        var tbodyObj = document.getElementById('tb_Info');
            //        $("table :checkbox")
            //            .each(function(key, value) {
            //                if ($(value).prop('checked')) {
            //                    ids[index] = tbodyObj.rows[key].cells[1].innerHTML;
            //                    index++;
            //                }
            //            });

            //        if (ids.length > 0) {
            //            exportRequst(ids);
            //        }
            //    });

            @*function exportRequst(ids) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Export")",
                    data: { ids: ids },
                    dataType: "json",
                    success: function(data) {
                        alert("数据导出成功！");
                    }
                });
            }*@

           
            $("#btn_improt")
                .click(function() {
                    $("#input_file").click();
                });

            $("#input_file")
                .change(function() {
                    $("#Submit").click();
                    $("#input_file").text("");
                });
        });
        function change(changeId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Change")",
                data: { id: changeId },
            dataType: "json",
            success: function (data) {
                window.location = "@Url.Action("Index",new {activeId=6})";
            }
        });
        }
    </script>
}


